.box {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
  min-width: 100px;
  text-align: center;
}

.box:hover {
  background-color: azure;
}

.que {
  font-size: 1.8em;
  margin: 15px;
}

